/* Styles go here */

body{
    font-family: initial !important;
}

input.ng-invalid {
    border: 1px solid red;
}
select.ng-invalid {
    border: 1px solid red;
}

.nav-item a.nav-link:hover{
    /*font-size: 20px;*/
    color:red !important;
    font-weight: bold;
}

.container{
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100% !important;
}

.form-group{
    padding: 0px 150px; 
}

hr{
    border-top: 2px solid rgba(0, 0, 0, 0.37) !important;
}

.header-row{
    font-weight: bold;
    background-color: lawngreen;
    font-size: 17px;
}

.header-detail{
    font-weight: bold;
   
    font-size: 17px;
}

.data{
    border: 1px solid;
}

.container-border{
    border: 1px solid;
}

.even-row{
    background-color: powderblue;
}

.highlight{
    color: red;
    font-weight: bold
}