
<h2>Bank List</h2> 
<div style="margin-bottom: 10px;"><button type="button" class="btn btn-primary">Add a new account</button></div>

<div class="container-fluid container-border">
    <div class="row header-row">
        <div class="col-md-1 data">Acct No.</div>
        <div class="col-md-2 data">Bank Name</div>
        <div class="col-md-2 data">Term</div>
        <div class="col-md-2 data">Amount</div>
        <div class="col-md-1 data">Interest rate (%)</div>
        <!--<div class="col-md-2 data">Transaction date</div>-->
        <div class="col-md-2 data">Maturity date</div>
        <div class="col-md-2 data"></div>
    </div>
    <div class="row" ng-repeat="act in bankList track by $index" 
    ng-click="" ng-class-even="'even-row'">
            <div class="col-md-1 data">{{act.accountNo}}</div>
            <div class="col-md-2 data">{{act.bankName}}</div>
            <div class="col-md-2 data">{{act.term}}</div>
            <div class="col-md-2 data">{{act.amount | number }}</div>
            <div class="col-md-1 data">{{act.interestRate}}</div>
            <!--<div class="col-md-2 data">{{act.transactionDate}}</div>-->
            <div class="col-md-2 data">{{act.maturityDate}}</div>
            <div class="col-md-2 data">
                <button ng-click="myService.gotoState('manage.detail',{link:'bank',id: act.accountNo, account: act})" type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                <button ng-click="myService.gotoState('manage.edit',{link: link, id: act.accountNo, account: act})" type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </div>
        </div>
</div>
    
    