<h2 style="text-align:center">Edit Account Detail</h2>

<form name="myForm">
        <div class="form-group">
          <label for="accountNo">Account Number</label>
          <input ng-disabled="params.action == 'edit'" required class="form-control" ng-model="account.accountNo" >
         
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label >Bank Name</label>
              <select  class="form-control" ng-model="account.bankName" required>
                    <!--<option selected>Choose...</option>-->
                    <option ng-repeat="bank in DROPDOWN.bankNames">{{bank}}</option>               
                  </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">
              <label for="accountNo">Term</label>
              <input class="form-control" ng-model="account.term" required></div>

          </div>
        </div>

        <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="accountNo">Amount</label>
                  <input class="form-control" ng-model="account.amount" required></div>
          </div>

          <div class="col">
              <div class="form-group">
                  <label for="accountNo">Interest Rate (%)</label>
                  <input class="form-control" ng-model="account.interestRate" required ></div>
            </div>
        </div>

        <div class="row">
          <div class="col">
              <div class="form-group">
                  <label >Transaction Date</label>
                  <md-datepicker ng-model="account.transactionDate" required></md-datepicker>
                </div>
          </div>
          <div class="col">
              <div class="form-group">
                  <label >Maturity Date</label>
                  <md-datepicker ng-model="account.maturityDate" required></md-datepicker>
                </div>
          </div>
        </div>
        
        <button ng-show="params.action == 'edit'" ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Save</button>
        <button ng-show="params.action == 'create'" ng-click="create()" ng-disabled="myForm.$invalid" class="btn btn-primary">Create</button>
</form>